    <%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
        <table id="list">
            <thead>
                <tr>
                    <th>name</th>
                    <th>type</th>
                    <th>exercise</th>
                    <th>time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% workouts.forEach(function(m) { %>
                    <tr>
                        <td>
                            <%= m.name %>
                        </td>
                        <td>
                            <%= m.type %>
                        </td>
                        <td>
                            <%= m.exercise %>
                        </td>
                        <td>
                            <%= m.time %>
                        </td>
                        <td><a href="/workouts/<%= m._id %>">DETAILS</a></td>
                        <td><form action="/workouts/<%= m._id %>?_method=DELETE"
                            id="delete-form" method="POST">
                            <button type="submit">delete</button>
                        </form> </td> 
                        <td><a href="/workouts/<%= m.id %>/edit">Edit</a></td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

        <%- include('../partials/footer') %>
        