<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>workouts</title>
</head>

<body>
    <%- include('../partials/header') %>

        <section id="show-page">
            <div>name: </div>
            <div>
                <%= workout.name %>
            </div>
            <div>type: </div>
            <div>
                <%= workout.type %>
            </div>
            <div>exercise: </div>
            <div>
                <%= workout.exercise %>
            </div>
            <div>time: </div>
            <div>
                <%= workout.time %>
            </div>
            <br><br>
            <h2>exercises</h2>
            <form id="add-exercise-form" method="POST" action="/workouts/<%= workout._id %>/exercises">
                <label>Exercises:</label>
                <textarea name="content"></textarea>
                <select name="exercises">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="submit" value="Add Exercise">
            </form>

            <% if (workout.exercises.length) { %>
                <table>
                    <thead>
                        <tr>
                            <th>time</th>
                            <th>exercises</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% workout.exercises.forEach(function(r) { %>
                            <tr>
                                <td>
                                    <%= r.createdAt.toLocaleTimeString() %>
                                </td>
                                <td>
                                    <%= r.content %>
                                </td>
                                <td>
                                    <%= r.rating %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <% } else { %>
                    <h5>No Exercises Yet</h5>
                    <% } %>
                   
                        <%- include('../partials/footer') %>
</body>

</html>