    <%- include('../partials/header') %>
    <%- include('../partials/navbar') %>


        <section id="show-page">
            <div>name: </div>
            <div>
                <%= workout.name %>
            </div>
            <div>type: </div>
            <div>
                <%= workout.type %>
            </div>
            <div>exercise: </div>
            <div>
                <%= workout.exercise %>
            </div>
            <div>time: </div>
            <div>
                <%= workout.time %>
            </div>
            <br><br>
            <h2>exercises</h2>
            <form id="add-exercise-form" method="POST" action="/workouts/<%= workout._id %>/exercises">
                <label>Exercises:</label>
                <textarea name="content"></textarea>
                <input type="submit" value="Add Exercise">
            </form>

            <% if (workout.length) { %>
                <table>
                    <thead>
                        <tr>
                            <th>time</th>
                            <th>exercises</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% workout.exercises.forEach(function(r) { %>
                            <tr>
                                <td>
                                    <%= r.createdAt.toLocaleTimeString() %>
                                </td>
                                <td>
                                    <%= r.content %>
                                </td>
                                <td>
                                    <%= r.rating %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <% } else { %>
                    <h5>No Exercises Yet</h5>
                    <% } %>
                   
                        <%- include('../partials/footer') %>

                                