<%- include('../partials/header') %>
<%- include('../partials/navbar') %>


    <section id="show-page">
        <div>name: </div>
        <div>
            <%= workout.name %>
        </div>
        <div>type: </div>
        <div>
            <%= workout.type %>
        </div>
        <div>exercise: </div>
        <div>
            <%= workout.exercise %>
        </div>
        <div>time: </div>
        <div>
            <%= workout.time %>
        </div>

        <div>List:</div>
        <ul>
            <%- workout.list.map(p => 
              `<li>${p.name} </li>`
            ).join('') %>
          </ul>
      </section>
      
      
      <br><br>
      <h2>exercises</h2>
      
      <form id="add-per-to-list" method="POST" action="/workouts/<%= workout._id %>/exercises">
        <select name="exerciseId">
          <%- exercises.map(p => `<option value="${p._id}">${p.name}</option>`).join('') %>
        </select>
        <input type="submit" value="Add to List">
      </form>

        <% if (workout.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>exercises</th>
                    </tr>
                </thead>
                <tbody>
                    <% workout.exercises.forEach(function(r) { %>
                        <tr>
                            <td>
                                <%= r.createdAt.toLocaleTimeString() %>
                            </td>
                            <td>
                                <%= r.content %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <h5>No Exercises Yet</h5>
                <% } %>
               
                    <%- include('../partials/footer') %>

                            